@font-face {
    font-family: 'Jersey10';
    src: url(/Jersey10.woff2);
}

body {
    @apply text-sexfm-600
}

.border-ridge {
    border-style: ridge;
}

.button {
    @apply flex justify-center items-center bg-gradient-to-b from-white active:from-sexfm-400 via-white to-sexfm-400 active:to-white p-0.5 border-sexfm-500 hover:border-sexfm-300 active:border-sexfm-500 rounded-full hover:text-sexfm-300 active:text-sexfm-600 cursor-pointer;
}
